[submodule "vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible

[submodule "vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive

[submodule "vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround

[submodule "vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline

[submodule "haskellmode-vim"]
    path = bundle/haskellmode-vim
    url = https://github.com/lukerandall/haskellmode-vim

[submodule "vim-haskell-indent"]
    path = bundle/vim-haskell-indent
    url = https://github.com/itchyny/vim-haskell-indent

[submodule "bundle/vim-husk"]
	path = bundle/vim-husk
	url = https://github.com/vim-utils/vim-husk
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "bundle/vim-nix"]
	path = bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/vim-tbone"]
	path = bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone
[submodule "bundle/vim-ripgrep"]
	path = bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
